<mat-card *ngFor="let task of tasks" class="task-card mat-elevation-z10">

  <mat-card-header>

    <mat-card-title>{{task.title}}</mat-card-title>

    <div class="spacer"></div>

    <span>{{ task.dueDate | date}}</span>

  </mat-card-header>

  <!--<img mat-card-image [src]="task.iconUrl">-->

  <mat-card-content>
    <div>Schedule: {{task.schedule | titlecase}}</div>
    <div>Notes: <span class="task-notes">{{task.notes}}</span></div>
    <div>Category: {{task.category | titlecase}}</div>
    <!--<div>Task Creation Date: {{task.releasedAt | date}}</div>-->

    <!--<div>Deleted: {{task.isDeleted}}</div>-->
    <div>Task Start Date: {{task.startDate | date}}</div>
    <div>Task End Date: {{task.endDate | date}}</div>

    <!--<div>Task ID: {{task.id}}</div>
      <div>Due Today: {{task.isDueToday}}</div>
    <div>Late: {{task.isLate}}</div>
    <div>Deleted: {{task.isDeleted}}</div>-->
  </mat-card-content>

  <mat-card-actions align="end">
    <!--<button mat-button class="mat-raised-button mat-primary" [routerLink]="['/tasks', task.id]">
      VIEW TASK
    </button>-->

    <button mat-button class="mat-raised-button mat-primary" (click)="createTask()">
      NEW TASK
    </button>
    <button mat-button class="mat-raised-button mat-primary" (click)="editTask(task)">
      EDIT
    </button>
    <button mat-button class="mat-raised-button mat-accent" (click)="deleteTask(task)">
      DELETE
    </button>
  </mat-card-actions>

</mat-card>
