.task-card {
  display: block;
  max-width: auto;
  margin: 1em auto;

}

.task-notes
 {
   margin: auto;
 }

 .spacer
 {
   flex: 1;
 }

 button:hover {
  transform: scale(1.15, 1.15) translateY(-5%);
  transition: all ease-in-out 0.2s;
 }

.flex-container {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction
     and if we allow the items to wrap
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-evenly;

  padding: 10px;
  margin: 10px;
  list-style: none;

}

.flex-item {

  padding: auto;
  width: auto;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: auto;



  text-align: center;
}

